<!DOCTYPE html>
<html>
    <head>
        <title>Tapoo (Maze Runner) Game</title>
        <meta charset="UTF-8">
        <meta name="description" content="Tapoo Maze Runner Game">
        <meta name="keywords" content="Tapoo,Maze">
        <meta name="author" content="dmigwi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/tapoo.css"/>
        <script text="text/javascript" src="static/js/tapoo.js" async></script>
    </head>
    <body>
        <canvas id="data-playground"></canvas>
    </body>
    <footer>
        <span>Created by dmigwi</span>
    </footer>
</html>