# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
tapoo
.tapoo.store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Prototyping Files
*.prototype

vendor/
*.lock
*.log
node_modules/
.pnpm-store/
.gocache/
.tmp/
*.tsbuildinfo
package-lock.json
public/js/*.min.js
_DS*
.DS_Store
.vscode
